In [1]:
#Importing libraries
import numpy as np 
import pandas as pd 
import io
import matplotlib.pyplot as plt

In [2]:
# reading the csv file, del 2 columns from the file, checking first few rows of the file
data = pd.read_csv('BuyComputer.csv')
data.drop(columns=['User ID',],axis=1,inplace=True)
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [3]:
#Declare label as last column in the source file
label=data['Purchased']
label

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [4]:
#Declaring X as all columns excluding last
X=data[['Age','EstimatedSalary']]
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [5]:
# Splitting data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,label,test_size=0.3,random_state=21)
X_train, X_test, y_train, y_test

(     Age  EstimatedSalary
 113   37            55000
 26    49            28000
 178   24            23000
 95    35            44000
 29    31            18000
 ..   ...              ...
 368   38            71000
 48    30           135000
 260   35            77000
 312   38            50000
 207   52           114000

 [280 rows x 2 columns],
      Age  EstimatedSalary
 106   26            35000
 9     35            65000
 61    25            87000
 224   35            60000
 37    30            49000
 ..   ...              ...
 23    45            22000
 157   29            75000
 349   38            61000
 255   52            90000
 180   26            16000

 [120 rows x 2 columns],
 113    0
 26     1
 178    0
 95     0
 29     0
       ..
 368    0
 48     1
 260    0
 312    0
 207    0
 Name: Purchased, Length: 280, dtype: int64,
 106    0
 9      0
 61     0
 224    0
 37     0
       ..
 23     1
 157    0
 349    0
 255    1
 180    0
 Name: Purchased, Length: 120, dtype: int64)

In [6]:
# Sacaling data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
y_pred = []
len_x = len(X_train[0])
w = []
b = 0.2
print(len_x)

2

In [8]:
entries = len(X_train[:,0])
entries

280

In [9]:
for weights in range(len_x):
    w.append(0)
w

[0, 0]

In [10]:
# Sigmoid function
def sigmoid(z):
  return 1/(1+np.exp(-z))

def predict(inputs,w):
    z=np.dot(inputs,w)
    return sigmoid(z)

In [11]:
#Loss function
def loss_func(features,labels,w):
    observations = len(labels)
    predictions = predict(features, w)
    class1_cost = -labels*np.log(predictions)
    class2_cost = (1-labels)*np.log(1-predictions)
    cost = class1_cost - class2_cost
    cost = cost.sum() / observations
    return cost

dw = []
db = 0
J = 0
alpha = 0.1
for x in range(len_x):
    dw.append(0)

In [12]:
def update_weights(features, labels, weights, lr):    
    
    N = len(features)    
    predictions = predict(features, weights)    
    gradient = np.dot(features.T,  predictions - labels)    
    gradient /= N    
    gradient *= lr    
    weights -= gradient

    return weights

In [13]:
#Repeating the process 3000 times
cost_history = []
for i in range(3000):
    w = update_weights(X, label, w, alpha)

    #Calculate error for auditing purposes
    cost = loss_func(X, label, w)
    cost_history.append(cost)

    # Log Progress
    if i % 1000 == 0:
        print("iter: "+ str(i) + " cost: "+str(cost))

<ipython-input-10-acaf05f054f0>:3: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-z))
<ipython-input-11-67a72e7969af>:5: RuntimeWarning: divide by zero encountered in log
  class1_cost = -labels*np.log(predictions)
<ipython-input-11-67a72e7969af>:6: RuntimeWarning: divide by zero encountered in log
  class2_cost = (1-labels)*np.log(1-predictions)

iter: 0 cost: inf
iter: 1000 cost: inf
iter: 2000 cost: inf

In [14]:
#Print weight
w

#print bias
b

0.2

In [15]:
#predicting the label
predicted_labels=predict(X_test,w)

#print actual and predicted values in a table
predicted_labels,label

# Calculating accuracy of prediction
diff = predicted_labels - y_test
acc=1.0 - (float(np.count_nonzero(diff)) / len(diff))
acc

<ipython-input-10-acaf05f054f0>:3: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-z))

0.45833333333333337

In [16]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(random_state = 26)

#Fit
LR=LR.fit(X_train,y_train)
#predicting the test label with LR. Predict always takes X as input
y_pred=LR.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)